[submodule "submodules/diff-gaussian-rasterization"]
	path = SGSST/submodules/diff-gaussian-rasterization
	url = https://github.com/graphdeco-inria/diff-gaussian-rasterization
[submodule "submodules/simple-knn"]
	path = SGSST/submodules/simple-knn
	url = https://gitlab.inria.fr/bkerbl/simple-knn.git
[submodule "g-style/submodules/diff-gaussian-rasterization"]
	path = g-style/submodules/diff-gaussian-rasterization
	url = https://github.com/graphdeco-inria/diff-gaussian-rasterization
[submodule "g-style/submodules/simple-knn"]
	path = g-style/submodules/simple-knn
	url = https://gitlab.inria.fr/bkerbl/simple-knn.git
